<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">×</button>
  <h3>Aipo</h3>
</div>
<div class="modal-body">
  <img src="../../va/aipo01.png" class="img-responsive"/>
  <p>Aipoは、Webブラウザ上で利用するグループウェアです。グループウェアの基本機能であるカレンダーやToDoはもちろん、掲示板やブログ、伝言メモのようなコミュニケーション機能も豊富に備わっています。ユーザーはグループ単位で管理し、それぞれのグループにアクセス権限を細かく設定できるので、規模の大きな組織でも十分活用できます。</p>
  <p>カレンダー機能には個人用カレンダーとは別にグループカレンダーがあり、同じグループに所属するメンバーの予定をひとつの画面で確認できます。会議など複数人が参加する予定は、参加者のカレンダーに仮スケジュールとして登録し、時間を空けてもらうよう依頼することもできます。プロジェクト管理やワークフローなども用意されており、業務に必要な基本機能はほぼ網羅されていると言っていいでしょう。</p>
  <p>ユーザー間のコミュニケーション機能が豊富なのも、Aipoの魅力のひとつです。電話メモなど手軽な連絡に使える連絡メモ、社内の情報共有に便利な掲示板、資料を共有できる共有フォルダ、さらに社内ブログまで備わっています。これらの機能を使えば、外出の多いメンバーとも緊密なコミュニケーションが可能になるでしょう。</p>
  <h3>Aipoの利用</h3>
  <img src="../../va/aipo02.png" class="img-responsive" alt="">
  <h4>1.サンプルユーザでログイン</h4>
  <p>初期状態では sample1, sample2, sample3というユーザー名でサンプルユーザーが登録されています。そのうちのどれかをユーザー名の欄に入力し、パスワードは空欄のままログインボタンをクリックしましょう。サンプルユーザーとしてAipoにログインでき、Aipoの機能を試すことができます。それぞれの機能にはサンプルデータも入力されているので、どんな風に動作するのか、どんな風に見えるのかが簡単に理解できます。</p>
  <hr>
  <img src="../../va/aipo03.png" class="img-responsive" alt="">
  <h4>2.管理画面へのログイン</h4>
  <p>実際に運用し始める際は、これらのサンプルデータは削除しましょう。</p><p>管理者としてログインするためには、ログイン画面で「ユーザー一覧から選択する」のチェックを外し、ユーザー名欄に adimin パスワード欄に admin と入力してログインボタンをクリックします。</p>
  <hr>
  <img src="../../va/aipo04.png" class="img-responsive" alt="">
  <h4>3.利用開始前の作業</h4>
  <p>管理者としてログインすると管理者専用の画面が開きます。</p><p>実際に使い始める前に、ユーザー管理メニューであらかじめ入力されているサンプルユーザーをまず削除しましょう。</p><p>また、「会社情報管理」→「管理者パスワードを変更する」で管理者パスワードを変更するのも忘れないようにしましょう。</p>

</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="$close()">閉じる</button>
</div>
