<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">×</button>
  <h3>ClipBucket</h3>
</div>
<div class="modal-body">
  <p>YouTubeのような動画共有サイトを自分で持つ、そんな願いを叶えてくれるのが ClipBucketです。動画や写真のアップロード・閲覧・評価やコメントの投稿など一通りの機能を備えています。</p>

  <h3>ClipBucketの利用</h3>
  <img src="../../va/clipbucket02.png" class="img-responsive" alt="">
  <h4>1.ログイン</h4>
  <p>画面右上隅にある LOGIN タブをクリックするとログイン用フォームがスライドして出現します。まずはデフォルトで用意されている管理者用アカウントでログインしてみましょう。管理者IDは <strong>admin</strong>、パスワードは <strong>admin</strong> として初期設定されています。</p>
  <hr>
  <img src="../../va/clipbucket03.png" class="img-responsive" alt=""><br/>
  <img src="../../va/clipbucket04.png" class="img-responsive" alt="">
  <h4>2.動画のアップロード</h4>
  <p>ログインに成功すると右上のメニューが変わります。Upload videoをクリックして動画をアップロードしてみましょう。</p>
  <p>Browse videosボタンを押すとファイル選択のダイアログが出ますので、アップロードしたい動画ファイルを選んでアップロードします。アップロード完了直後にタイトルや説明文などを入力することもできます。</p>
  <hr>
  <img src="../../va/clipbucket05.png" class="img-responsive" alt="">
  <h4>3.動画の変換待ち</h4>
  <p>上方メニューの MY VIDEOSから、自分のアップロードした動画一覧を見ることができます。ただしアップロードされた直後の動画は、サーバ側での変換処理が終わるまで "PROCESSING" の表示となりまだ再生することができません。変換終了までの時間はCPU能力と動画の長さによります。</p>
  <hr>
  <img src="../../va/clipbucket06.png" class="img-responsive" alt="">
  <h4>4.動画の再生</h4>
  <p>変換が終わった動画は、まるで YouTubeのようなプレーヤーで再生することができます。</p>
  <hr>
  <img src="../../va/clipbucket07.png" class="img-responsive" alt="">
  <h4>5.コミュニケーション</h4>
  <p>動画を評価したり、コメントを投稿することもできます。</p>
  <img src="../../va/clipbucket08.png" class="img-responsive" alt="">
  <h4>6.管理画面の利用</h4>
  <p>/admin_area/ にアクセスすることで管理画面を利用できます。</p><p>左側メニューバーの "Users" &gt; "Add Member" で新しいユーザーを作成できます。このとき、User Levelをデフォルトの "Registered User" に留めておくけば新しいユーザーは管理権限がない一般ユーザーとなります。</p>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="$close()">閉じる</button>
</div>
