<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">×</button>
  <h3>Walbrixのインストール</h3>
</div>
<div class="modal-body">
  <img src="static/img/install01.png" class="img-responsive" alt="">
  <h3>インストールメニュー</h3>
  <p>インストールディスクからPCを起動するとメニュー画面になります。</p><p>Walbrixの操作にマウスは使用しません。方向キーで選択・Enterキーで決定・ESCキーでキャンセルです。</p>
  <hr>
  <h3>インストール先の選択</h3>
  <p>インストール先のハードディスクを選択します。普通のPCであればここには選択肢はひとつしか出てこないでの迷う必要はありません。</p>
  <img src="static/img/install02.png" class="img-responsive" alt="">
  <hr>
  <h3>インストール中...</h3>
  <p>ハードディスクがフォーマットされ、インストールディスクから Walbrixのシステムファイルがコピーされます。この処理は数分で完了します。</p>
  <img src="static/img/install04.png" class="img-responsive" alt="">
  <hr>
  <h3>完了と再起動</h3>
  <p>システムファイルのコピーが完了したら再起動を促されます。インストールディスクはこの時に自動でドライブから排出されますが、もし排出されなかった場合は手動で排出してください。</p><p>BIOSで起動ディスクを適切に設定するようにとの指示がありますが、普通のPCであれば設定を変更する必要はありません。</p>
  <img src="static/img/install05.png" class="img-responsive" alt="">
  <hr>
  <h3>Walbrixの起動中...</h3>
  <p>PCを再起動すると、Walbrixが起動を開始します。</p>
  <img src="static/img/install06.png" class="img-responsive" alt="">
  <h3>稼動状態の確認</h3>
  <p>Walbrixの起動処理が完了すると待機画面が表示されます。</p>
  <img src="static/img/install07.png" class="img-responsive" alt="">
  <p>Enterキーを押して操作を開始します。</p>
  <img src="static/img/install08.png" class="img-responsive" alt="">
</div>

</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="$close()">閉じる</button>
</div>
