<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true">×</button>
  <h3>ownCloud</h3>
</div>
<div class="modal-body">
  <p>ownCloudにファイルを保存すると、それを Webブラウザや WebDAVプロトコルに対応したアプリケーションから複数人で利用することができます。ファイルの保存と共有だけでなく、アドレス帳やカレンダー、ブックマークの同期を行う機能も搭載しています。</p>
  <p>また、ownCloud上で動作する様々なアプリケーションやプラグインも開発されています。</p>

  <h3>ownCloudの利用</h3>
  <img src="../../va/owncloud01.png" class="img-responsive" alt="">
  <h4>1.ログイン</h4>
  <p>Walbrix上にダウンロードされた ownCloudのデフォルトユーザー名・パスワードは admin/admin です。</p>
  <hr>
  <img src="../../va/owncloud02.png" class="img-responsive" alt="">
  <h4>2.ファイルの保存</h4>
  <p>「ファイル」メニューの選択された状態で、保存したいファイルを ownCloudにドラッグ＆ドロップすることでそのファイルを保存できます。</p>
  <hr>
  <img src="../../va/owncloud03.png" class="img-responsive" alt="">
  <h4>3.ファイル内容の閲覧</h4>
  <p>アップロードされたファイルの形式がPDFなら、ownCloud上で内容の閲覧も可能です。また、テキストファイルであれば閲覧だけでなく編集もできます。</p>
  <hr>
  <img src="../../va/owncloud04.png" class="img-responsive" alt="">
  <h4>4.カレンダーなど</h4>
  <p>ファイルの保存・共有以外にカレンダーや連絡先などの機能も搭載されています。カレンダーに書き入れた予定をグループで共有することもできます。</p>

</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="$close()">閉じる</button>
</div>
