<h4>ライセンスについて</h4>
<p>本ソフトウェアは多くのオープンソース・ソフトウェアを独自に統合・構成することにより開発されています。使用許諾については、各ソフトウェアのライセンス条項に準じます。<br/>但し、ワルブリックス株式会社が著作権を保有する WBUIコンポーネント (/usr/share/wbui) についてはプロプライエタリなものとし、派生物の配布を禁止します。</p>
<h4>保証に関する免責事項</h4>
<p>本ソフトウェアは、明示であると黙示であると問わず、無欠陥、商品価値、第三者の知的財産に抵触するか否かの保証を含む無侵害性、 その他の一切の保証なしに、現状のままお客様に提供されます。本ソフトウェアの動作に関し、ワルブリックス株式会社は責任を負うものではありません。 本ソフトウェアの品質と機能に関しては、当社は一切の保証をするものではありません。</p>
<h4>損害に関する免責事項</h4>
<p>本ソフトウェアの使用に関連してお客様に直接的または間接的に発生する一切の損害 （ハードウェア、他のソフトウェアの破損、不具合等を含むがこれに限定されない。また、通常損害、特別損害、結果損害を問わない。） および第三者からなされる請求についてワルブリックス株式会社は一切責任（注意義務を含む）を負担しません。</p>
