<!DOCTYPE html>
<html lang="ja" ng-app="MyApp">
  <head>
    <meta charset="utf-8">
    <title>Windows XPパソコンの処分をお考えの皆様</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="ワルブリックス株式会社"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://www.walbrix.net/{{name}}.html"/>
    <meta property="og:site_name" content="Walbrix"/>
    <meta property="article:publisher" content="https://www.facebook.com/wbrxcorp" />
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:image" content="{{ page_image }}"/>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script language="javascript">
      angular.module("MyApp", ["ui.bootstrap"])
        .run(["$rootScope","$modal", function($scope, $modal) {
          $scope.modal = function(templateUrl) {
            $modal.open({templateUrl:templateUrl, scope: $scope});
          };
        }]);
    </script>
  </head>

  <body>
    <div class="jumbotron" style="color:#eee; text-shadow: black 0.2em 0.2em 0.2em; background: url('http://static.walbrix.net/xp/jumbotron.jpg'); background-size: cover;">
      <h1>そのXPパソコン、<br>本当に捨てますか</h1>
      <p>使わなくなった Windows XPパソコンが Walbrix(ワルブリックス)であなた専用のサーバーとして生まれ変わります</p>
    </div>
    <div class="container">
      {{content|safe}}
      <div class="footer" style="border-top: 1px solid #eee;margin-top: 40px;padding-top: 40px;padding-bottom: 40px;">
	<p class="text-right"><a href="purchase.html#transaction">特定商取引法に基づく表示</a></p>
        <p>&copy; <a href="http://www.walbrix.com/jp/">Walbrix Corporation</a> 2010-2014</p>
      </div>
      
    </div>
    {% include "analytics.html" %}
  </body>
</html>
